<div class="ion-page">
 
  <ion-content [fullscreen]="true">
    <div class="container login-form-2">    
          
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
                         
          <div class="panel panel-default" >
              <div class="panel-heading">
                  <div id="upd" class="panel-title text-center"  (click)="goToepiadministration()"> Update restaurant </div>
              </div>     
    
              <div class="panel-body" >
    
                  <form name="form" [formGroup]="ionicForm" (ngSubmit)="submitbotton()" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                     
                      <div class="input-group">
                          <span class="input-group-addon icon"><i class="glyphicon glyphicon-user"></i></span>
                          <ion-item >
                            <ion-input formControlName="name"   name="name" type="text" placeholder="name " [(ngModel)]="name" required></ion-input>
                          </ion-item>   
                      </div>
                      
      
                     
                      <div class="input-group">
                          <span class="input-group-addon icon"><ion-icon name="earth-outline"></ion-icon></span>
                          <ion-item  >
                             <ion-input formControlName="place" name="place" type="text" placeholder="place" required></ion-input>
                          </ion-item>
                        </div>
                          <span id="error" *ngIf="isSumitted   && errorControl.place.errors?.required">
                            Email is required
                          </span>
                         <!-- <span id="error" *ngIf="isSumitted && errorControl.email.errors?.patern">
                            Valider votre email
                          </span>-->
                                                                                        
                      <div class="input-group">
                        <span class="input-group-addon icon"><ion-icon name="call-outline"></ion-icon></span>
                        <ion-item lines="full">
                           <ion-input formControlName="phoneNumber" name="phoneNumber" type="text"  placeholder="phone number" required></ion-input>
                        </ion-item>
                      </div>
                        <span id="error" *ngIf="isSumitted && errorControl.phoneNumber.errors?.required">
                          password is required
                        </span>
                        <!--<span  id="error"  *ngIf="isSumitted && errorControl.password.errors?.patern">
                         valider votre mot de passe
                        </span>-->
                        <div class="input-group">
                          <span class="input-group-addon icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                          <ion-item lines="full">
                            <ion-textarea
                            aria-setsize="large"
                            formControlName="description"
                            placeholder="your description about your place , it can be anything , like how stupid it is or how dump your life   if u had one in the first place mobile apps.">
                          </ion-textarea>
                          </ion-item>
                        </div>
                        
                   
                        <div class="form-group">
                          <!-- Button -->
                          <div class="col-sm-12 controls">
                              <button type="submit"  style="background-color: #cb6f57;  color:#f0e5d1;"  class="btn  pull-right"><i class="glyphicon glyphicon-log-in"></i> Add </button>                          
                          </div>
                      </div>
                  </form>     
                
              </div>                     
          </div>  
      </div>
    </div>
    
    <div id="particles"></div>

  </ion-content>
  
  <ion-button (click)="dismiss()">
  close
  </ion-button>
  </div>
  